{% extends 'my_website_app/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block title %}
Services
{% endblock %}

{% block content %}

<div class="container">
    {% if mor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pagetitle pt-5 mt-2 rounded bg-success">
                <h1> What we do </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ser_title">
                <h1 class="text-center">{{ mor.title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <P class="px-5">
                {{ mor.detail }}
            </P>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
    
