{% extends 'blog/base.html' %}
<!DOCTYPE html>
{% load static %}

{% block title %}
{{ cats }}
{% endblock %}
<body>
	<!-- this is the header -->
		
	{% block content %}
	{% include 'blog/homehead.html' %}
	<!-- blog's section shortcut ends here -->

	<!-- blog's content starts here -->
	<section class="section2">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="text-primary"> {{ cats }} </h1>
			</div>
			<div class="col-sm-6">
				<form action="{% url 'blog:post' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="category" value="cats">
					<h4 class="text-primary text-right"> <a href="{% url 'blog:post' %}">Create a new post </a> </h4>
				</form>
			</div>
		</div>
		<div class="container-fluid py-2">
			<div class="">
				<div class="row">
					<div class="col-sm-8">
						{% if post %}
						{% for b in post %}
						<div class="row news story">
							<div class="col-sm-4">
								<img src="{{ b.img.url }}" class="img-fluid">
							</div>
							<div class="col-sm-8">
								<p>Posted by: <a href="{% url 'blog:userprofile' b.poster.username %}" class="text-primary"> {{ b.poster }} </a> </p>
								<h4> {{ b.title }} </h4>
								<P>{{ b.content|truncatewords:20 }} </P>
								{% if user.is_authenticated %}
									<a href="{% url 'blog:login_read_post' b.id %}" class="btn btn-medium btn-primary"> Read more </a>
								{% else %}
									<a href="{% url 'blog:read_post' b.id %}" class="btn btn-medium btn-primary"> Read more </a>
								{% endif %}
							</div>
							
						</div>
						<br>
						{% endfor %}

						{% else %}
						<h1> Sorry, the page your requesting for does not exist </h1>
						{% endif %}
					</div>


					<!-- sidebar starts here -->
					<div class="col-sm-4 news">
						<p>POPULAR POST</p>
						<hr>
						<div class="row trending mx-2 p-2">
							<div class="col-sm-4">
								<img src="{% static 'blog/images/hero_3.jpg' %}" class="img-fluid">
							</div>
							<div class="col-sm-8">
								<a href="#">HANGING OUT WITH OLD FRIENDS</a>
							</div>
						</div>
						
						{% include 'blog/sidebar.html' %}					
					</div>
					<!-- sidebar ends here -->

				</div>
				<div class="row page-button">
					<div class="col-sm-1 offset-3">
						<button class="btn btn-primary btn-sm">Previous</button>
					</div>
					<div class="col-sm-1 offset-3">
						<button class="btn btn-primary btn-sm">Next</button>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	{% endblock %}


	