{% extends 'blog/base.html' %}
<!DOCTYPE html>
{% load static %}
<html>

{% block title %}
Post Detail
{% endblock %}

	<!-- header ends here -->

	<!-- blog's section shortcut starts here -->

	{% block content %}
	

	<!-- blog's content starts here -->
	<section class="section2">
		<div class="container-fluid py-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						{% if post %}
						<div class="row news story">
							<div class="col-sm-12 text-center">
								<img src="{{ post.img.url }}" class="img-fluid">
								<br>
							</div>
									<p class="">
										<i> {% for cat in post.cat.all %} <a href="{% url 'blog:category' cat %}"> {{ cat }}: </a>{% endfor %} &nbsp; &nbsp; <small>  {{ post.title }} </small> </i>
									</p>
                        </div>
                        <div class="row news story">
							<div class="col-sm-12 text-justify">
								<h1> {{ post.title }} </h1>
								<p class="mb-4"> <a href="{% url 'blog:userprofile' post.poster.username %}" class="text-light bg-primary"> {{ post.poster }} </a> &nbsp; &nbsp; <span class="bg-primary text-light"> {{ post.time }} </span> </p>
								<P class="text-right justi">{{ post.content|capfirst |linebreaks  }} </P>	
							</div>
							<div class="row">
								<div class="col-sm-12 mx-4">
									<form action="{% url 'blog:likes' %}" method="post">
										{% csrf_token %}
										{% if is_liked %}
										<button type='submit' name='post_id' value='{{ post.id }}' class="btn btn-sm text-primary"> {{ total_likes }} <span class="icon-heart -4x"></span></button>
										{% else %}
										<button type='submit' name='post_id' value='{{ post.id }}' class="btn btn-sm"> {{ total_likes }} <span class="icon-heart"></span></button>
										{% endif %}
									</form>
									{% if request.user == post.poster %}
										<a href="{% url 'blog:updatepost' post.id %}" class="btn btn-sm">  (Edit) </a>
										<form action="{% url 'blog:confirmpost' post.id %}" method="post" style="display: inline;">
											{% csrf_token %}
											<input type="hidden" name="id" value="{{ post.id }}">
											<input type="submit"  value='Delete' class="btn btn-sm">
										</form>
									{% endif %}
									<!-- <a href="{% url 'blog:deletepost' post.id %}" class="btn btn-sm">(Delete)</a> -->
								</div>
							</div>
						</div>
						{% endif %}
						<div class="row">
							<div class="col-sm-12">
								<h2 class="text-primary pt-3"> {{ comment.count }} Comment{{ comment|pluralize }}</h2>
							</div>
						</div>
						
						{% for c in comment %}	
						<div class="container-fluid">
							<div class="row story news comment my-3">
								<div class="col-sm-6 bg-info">
									<p>by: <a href="{% url 'blog:userprofile' c.comment_by.username %}">{{ c.comment_by }} </a></p>
								</div>
								<div class="col-sm-6 bg-info text-right">
									<small> {{ c.comment_time|timesince }} </small>
								</div>
								<div class="col-sm-12 text-justify">
									{{ c.comment|capfirst |linebreaks }}
								</div>
								<form action="{% url 'blog:comment_like' %}" method="post">
									{% csrf_token %}
									{% if c.likes.count == 0 %}
									<button type='submit' name='user_id' value='{{ c.id }}' class="btn btn-sm"> <span class="icon-thumbs-up"></span></button>
									{% else %}
									{% if liked %}			
									<button type='submit' name='user_id' value='{{ c.id }}' class="btn btn-sm text-primary"> {{ c.likes.count }}  <span class="icon-thumbs-up"></span></button>
									{% else %}
									<button type='submit' name='user_id' value='{{ c.id }}' class="btn btn-sm"> {{ c.likes.count }}  <span class="icon-thumbs-up"></span></button>
									{% endif %}
									{% endif %}
								</form>
								{% if c.replies.count == 0 %}
								<button class="btn btn-sm reply-btn" id="reply-btn"> <span class="icon-comment"></span></button>
								{% else %}
								<button class="btn btn-sm reply-btn" id="reply-btn">{{ c.replies.count }} <span class="icon-comment"></span></button>
								{% endif %}
								{% if request.user == c.comment_by %}
								<a href="{% url 'blog:update_c' c.id %}" class="btn btn-sm">(Edit)</a>
								<form action="{% url 'blog:confirm_delete_c' c.id %}" method="post">
									{% csrf_token %}
									<input type="hidden" name="id" value="{{ c.id }}">
									<input type="submit"  value='Delete' class="btn btn-sm">
								</form>
								{% endif %}
							</div>
							<div class="reply" style="display: none;">
								{% for reply in c.replies.all %}
								<div class="container mx-2 reply2 my-2" id="reply">
										<div class="row px-3">
											<div class="col-sm-6 bg-dark">
												Replied by: <a href="{% url 'blog:userprofile' reply.comment_by.username %}">{{ reply.comment_by }}</a>
											</div>
											<div class="col-sm-6 bg-dark text-right">
												<small> {{ reply.comment_time }} time</small>
											</div>
											<div class="row p-3">
												<div class="col-sm-12 text-justify mt-2">
														<p>{{ reply.comment|capfirst |linebreaks }}</p>
												</div>
												<button class="btn btn-sm">Reply</button>
												<form action="{% url 'blog:comment_like' %}" method="post">
													{% csrf_token %}
													{% if reply.likes.count == 0 %}
													<button type='submit' name='user_id' value='{{ reply.id }}' class="btn btn-sm"> <span class="icon-thumbs-up"></span></button>
													{% else %}
													{% if liked %}			
													<button type='submit' name='user_id' value='{{ reply.id }}' class="btn btn-sm text-primary"> {{ reply.likes.count }} <span class="icon-thumbs-up"></span></button>
													{% else %}
													<button type='submit' name='user_id' value='{{ reply.id }}' class="btn btn-sm"> {{ reply.likes.count }}  <span class="icon-thumbs-up"></span></button>
													{% endif %}
													{% endif %}
												</form>
												{% if request.user == reply.comment_by %}
												<form action="{% url 'blog:confirm_delete_c' reply.id %}" method="post">
													{% csrf_token %}
													<input type="hidden" name="id2" value="{{ reply.id }}">
													<input type="submit"  value='Delete' class="btn btn-sm">
												</form>
												<a href="{% url 'blog:update_c' reply.id %}" class="btn btn-sm">(Edit)</a><br>
												{% endif %}
											</div>
										</div>
									</div>
									{% endfor %}<br>
								
								<form action="" method="POST">
									{% csrf_token %}
									<input type="hidden" name="c_id" value="{{ c.id }}">
									{{ comment_form.comment }} <br>
									<input type="submit" value="Reply" class="text-center btn btn-primary btn-sm">
								</form>
							</div>
						</div>
						{% endfor  %}						
						
						<form action="" method="POST" class="mt-2">
							{% csrf_token %}
							{{ comment_form.comment }} <br>
							<input type="submit" value="Comment" class="text-center btn btn-primary btn-sm">
						</form>

					</div>
					


					<!-- sidebar starts here -->
					<div class="col-sm-4 news">
						<p>POPULAR POST</p>
						<hr>
						<div class="row trending mx-2 p-2">
							<div class="col-sm-4">
								<img src="{% static 'blog/images/hero_3.jpg' %}" class="img-fluid">
							</div>
							<div class="col-sm-8">
								<a href="#">HANGING OUT WITH OLD FRIENDS</a>
							</div>
						</div>
						{% include 'blog/sidebar.html' %}					
					</div>
					<!-- sidebar ends here -->

				</div>
				
			</div>
		</div>
	</section>
	{% endblock %}
	<!-- blog's content ends here -->

	