{% extends 'blog/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Create a post
{% endblock %}

{% block content %}
<!-- END OF PAGE TITLE -->
<section id="content" class="text-center">
  <div class="">
  <div class="row">
    <div class="col-sm-9" id="mainContent">
      <div class="row">
        <div class="col-sm-12">
         <div class="row my-5">
             <div class="col-sm-12">
                <h2 class="text-center m-5">Post Form </h2>

                <form method='POST' enctype="multipart/form-data">
                  <div class="input-group input-group-alternative mb-3">
                    {{ userpost.title }}
                  </div>
                  <div class="input-group input-group-alternative mb-3">
                    {{ userpost.cat }}
                  </div>
                  <div class="input-group input-group-alternative mb-3">
                    {{ userpost.content }}
                  </div>
                  <div class="input-group input-group-alternative mb-3">
                    {{ userpost.img }}
                  </div>
                  
                    {% csrf_token %}
                    <button type="button" onclick="history.back()" class="btn btn-sm btn-primary">Back</button>
                    <input type="submit" class='btn btn-success btn-sm' value="Submit">
                </form>
               
               
             </div>
            
         </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
</section>
{% endblock %}